body {
  font-famiy: Arial, BIZ UD Gothic, Noto Sans Japaneze, Atkinson Hyperlegible;
  background-color: #76BFCC;
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-size: 60px;
}
.dress {
  width: 100%;
  height: 2048px;
  background-image: url("IMG_0212.jpeg");
  background-size: cover;
  background-position: center;
}
