body {
  font-famiy: Arial, BIZ UD Gothic, Noto Sans Japaneze, Atkinson Hyperlegible;
  background-color: #76BFCC;
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-size: 60px;
}
.dress {
  width: 100%;
  height: 300px;
  background-image: url("https://github.com/chr0606/anitorai-dressing.github.io/raw/refs/heads/main/AnitoRai%20dressing.procreate");
  background-size: cover;
}
