body {
  margin: 0;
  font-family: sans-selif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #76BFCC;
  position: relative;
}
.logo {
  fontsize: 20px;
  font-weight: bold;
  font-color: #FFFFFF;
}
.hamburger {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.nav-menu a {
  padding: 10px 0;
  text-secoration: none;
  color: #FFFFFF;
}
.dress {
  width: 300px;
  height: 300px;
  background-image: url("無題983_20251117012413.png");
  background-size: cover;
  background-position: center;
  background-color: #76BFCC;
}
