/*モバイルファースト*/
body {
  margin: 0;
  font-family: sans-serif;
}

/*sp header*/
.header-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #76BFCC;
}
.sp-space-left {
  width: 40px;
}
.sp-logo {
  text-align: center;
  flex-grow: 1;
}
.sp-space-right {
  width: 40px;
  text-align: center;
}
.hamburger {
  font-color: wighte;
}

/*pc header*/
.header {
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
  background-color: #76BFCC;
}
.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 24px;
}
