/* モバイルファースト */
body {
  margin: 0;
  font-family: "Noto Serif JP", "Noto Serif";
  font-weight: 500;
}

/* sp header */
.header-sp {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #76BFCC;
  padding: 8px 0;
}

.sp-logo-group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
}


.sp-logo-image img {
  position: stick;
  height: 35px;
  width: auto;
  display: block;
}
  
.sp-space-L,
.sp-space-R {
  width: 40px;
}

.sp-logo-L,
.sp-logo-R {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.hamburger {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 500;
}

.cross{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 500;
}

/*sp用 nav*/
.nav-sp {
  position: fixed;
  top: 0;
  right: -125px;
  width: 125px;
  height: 100%;
  background-color: #52747A;
  padding-top: 30px;
  transition: right 0.3s ease;
}

.nav-sp ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sp li {
  padding: 16px;
}

.nav-sp a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.nav-sp.open {
  right: 0;
}

.no-scroll {
  overflow: hidden;
  }

/* pc header */
.header-pc {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #76BFCC;
  padding: 16px 0;
}

.pc-logo-group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
  align-items: center;
  white-space: nowrap;
}

.pc-logo-image img {
  position: stick;
  height: 35px;
  width: auto;
  display: block;
}

.pc-logo-L,
.pc-logo-R {
  color: white;
  font-weight: 700;
  font-size: 36px;
  lone-height: 1;
}

/* pc用 nav */
.nav-pc ul {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  gap: 20px;
}

.nav-pc a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .header-sp {
    display: none;
  }

  .nav-sp {
    display: none;
  }
  
  .header-pc {
    display: flex;
  }
}

/*main*/
.main1 {
  padding: 40px;
  margin: 0;
}
