/* モバイルファースト */
body {
  margin: 0;
  font-family: Arial;
}

/* sp header */
.header-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #76BFCC;
  padding: 8px 0;
}

.sp-logo {
  flex-grow: 1;
  text-align: center;
  color: white;
}

.sp-space-left,
.sp-spacw-right {
  width: 40px;
}

.hamburger {
  color: white;
  background: none;
  border: none;
  font-size: 24px;
}

/* pc header */
.header-pc {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #76BFCC;
  padding: 16px 0;
  color: white;
}

/* pc用 nav */
.nav-pc ul {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  gap: 24px;
}

.nav-pc a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*モバイルファースト　表示について*/
.header-pc {
  display: none;
}
/*sp ハンバーガーによるナビの非表示*/
.nav-sp {
  display: none;
}

@media (min-width: 768px) {
  .header-sp {
    display: none;
  }
  .header-pc {
    display: flex;
  }
}
