/*モバイルファースト*/
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #76BFCC;
}

.header-pc {
  display: none;
}
.hamburger {
  font-size: 30px;
  font-color: #FFFFFF;
  background: none;
}
/*ver.pc 切り替え*/
@media screen and (min-width: 786px) {
  .header-sp{
    display: none;
  }
  .header-pc {
    display: flex;
    padding: 20px 40px;
    justify-content: flex-start;
  }
  .nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    paddinig: 0;
  }
  .site-title {
    margin-left: 40px;
    font-size: 20px;
  }
}
