body {
  font-famiy: Arial, BIZ UD Gothic, Noto Sans Japaneze, Atkinson Hyperlegible;
  background-color: #76BFCC;
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-size: 60px;
}
.dress {
  background-color: red;
}
