body {
  font-famiy: Arial, BIZ UD Gothic, Noto Sans Japaneze, Atkinson Hyperlegible;
  background-color: #FFFFFF;
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-size: 60px;
  background-color: #76BFCC;
}
.dress {
  width: 300px;
  height: 300px;
  background-image: url("無題983_20251117012413.png");
  background-size: cover;
  background-position: center;
}
