/* モバイルファースト */
body {
  margin: 0;
  font-family: "Noto Serif JP", "Noto Serif";
  font-weight: 500;
}

/* sp header */
.header-sp {
  display: flex;
  position: relative;
  width: 100;
  align-items: center;
  justify-content: space-between;
  background-color: #76BFCC;
  padding: 8px 0;
}

.sp-L,
.sp-R {
  display: flex;
  flex-grow: 1;
  gap: 15px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.sp-logo-image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: auto;
}
  
.sp-space-L,
.sp-space-R {
  width: 40px;
}

.sp-L,
.sp-R {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 500;
}

.cross{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 500;
}

/*sp用 nav*/
.nav-sp {
  position: fixed;
  top: 0;
  right: -125px;
  width: 125px;
  height: 100%;
  background-color: #52747A;
  padding-top: 60px;
  transition: right 0.3s ease;
}

.nav-sp ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sp li {
  padding: 16px;
}

.nav-sp a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.nav-sp.open {
  right: 0;
}

.no-scroll {
  overflow: hidden;
  }

/* pc header */
.header-pc {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #76BFCC;
  padding: 16px 0;
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.pc-logo {
  display: flex;
  position: relative;
  width: 100%;
  flex-grow: 1;
  gap: 15px;
  text-align: center;
  justify-content: space-between;
}

.pc-logo-L,
.pc-logo-R {
  flex: 1;
  text-align: center;
}

.pc-logo-image img {
  height: 35px;
  width: auto;
}

.pc-logo-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* pc用 nav */
.nav-pc ul {
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  gap: 24px;
  font-size: 24px;
}

.nav-pc a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media (min-width: 768px) {
  .header-sp {
    display: none;
  }

  .nav-sp {
    display: none;
  }
  
  .header-pc {
    display: flex;
  }
}

/*main*/
.main1 {
  padding: 40px;
  margin: 0;
}
