body {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-bitween;
  align-items: center;
  padding: 15px;
  background-color: #76BFCC;
}
.logo {
  margin: 0;
  fontsize: 24px;
}
.dress {
  width: 300px;
  height: 300px;
  background-image: url("無題983_20251117012413.png");
  background-size: cover;
  background-position: center;
  background-color: #76BFCC;
}
